<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="manage/common/header :: header"></div>

<body>
<div class="x-body">
    <form th:id="form" class="layui-form layui-form-pane" style="text-aglin:center">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label th:for="name" class="layui-form-label">
                <span class="x-red">*</span>客户名称
            </label>
            <div class="layui-input-inline">
                <input th:type="text" th:id="name" th:name="name" lay-verify="required"autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red"></span>
            </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label th:for="phone" class="layui-form-label">
                <span class="x-red">*</span>客户电话
            </label>
            <div class="layui-input-inline">
                <input th:type="text" th:id="phone" th:name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label th:for="email" class="layui-form-label">
                邮箱
            </label>
            <div class="layui-input-inline">
                <input th:type="text" th:id="email" th:name="email"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label th:for="layout" class="layui-form-label">
                户型
            </label>
            <div class="layui-input-inline">
                <select class="form-control select2" th:id="layout" th:name="layout" >
                    <option value=""> --- 请选择 --- </option>
                    <option th:each="c:${layoutList}"  th:value="${c.value}" th:text="${c.name}" ></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label th:for="address" class="layui-form-label">
                地区
            </label>
            <div class="layui-input-inline">
                <select class="form-control select2" th:id="address" th:name="address" >
                    <option value=""> --- 请选择 --- </option>
                    <option th:each="c:${aerasList}"  th:value="${c.value}" th:text="${c.name}" ></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label th:for="houseName" class="layui-form-label">
              楼盘名称
            </label>
            <div class="layui-input-inline">
                <select class="form-control select2" th:id="houseName" th:name="houseName" >
                    <option value=""> --- 请选择 --- </option>
                    <option th:each="c:${heatAreasList}"  th:value="${c.areasId}" th:text="${c.name}" ></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label th:for="type" class="layui-form-label">
              预约类型
            </label>
            <div class="layui-input-inline">
                <select class="form-control select2" th:id="type" th:name="type" >
                    <option value=""> --- 请选择 --- </option>
                    <option th:each="c:${typeList}"  th:value="${c.value}" th:text="${c.name}" ></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label th:for="type" class="layui-form-label">
              设计师
            </label>
            <div class="layui-input-inline">
                <select class="form-control select2" th:id="houseName" th:name="houseName" >
                    <option value=""> --- 请选择 --- </option>
                    <option th:each="c:${designerList}"  th:value="${c.designerId}" th:text="${c.name}" ></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label th:for="type" class="layui-form-label">
                建筑面积
            </label>
            <div class="layui-input-inline">
                <input th:type="text" th:id="area" th:name="area"  autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="add">增加</button>
        </div>
    </form>
</div>
<script>
    layui.config({
        base: '/definModule/'
    }).use(['form', 'layer','dictSelect'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer
            , dictSelect = layui.dictSelect;

        //自定义验证规则
        form.verify({

        });

        //监听提交
        form.on('submit(add)', function (data) {
            $("#form").find("button").prop("disabled", true);
            params = data.field;
            $.post("save", params, function (data) {
                if (data.status == 400) {
                    layer.msg(data.result, {time: 2000, icon: 5});
                    $("#submit").prop("disabled", false);
                } else {
                    layer.msg(data.result, {time: 2000, icon: 6}, function () {
                        // 父页面刷新
                        parent.location.reload();
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                }
            });
            return false;
        });


    });
</script>
</body>
</html>