<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="manage/common/header :: header"></div>

<body>
<div class="x-body">
    <form th:id="form" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label th:for="typeName" class="layui-form-label">
                <span class="x-red">*</span><th:block th:text="字典类型"></th:block>
            </label>
            <div class="layui-input-inline">
                <input th:type="text" th:id="typeName" th:name="typeName" th:value="${dict.typeName}" lay-verify="required"autocomplete="off" class="layui-input">
                <input type="hidden" th:name="dictId" th:value="${dict.dictId}">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label th:for="name" class="layui-form-label">
                <span class="x-red">*</span><th:block th:text="字典名称"></th:block>
            </label>
            <div class="layui-input-inline">
                <input th:type="text" th:id="name" th:name="name" th:value="${dict.name}" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label th:for="name" class="layui-form-label">
                <span class="x-red">*</span><th:block th:text="字典标识"></th:block>
            </label>
            <div class="layui-input-inline">
                <input th:type="text" th:id="type" th:name="type" th:value="${dict.type}" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label th:for="value" class="layui-form-label">
                <span class="x-red">*</span><th:block th:text="字典值"></th:block>
            </label>
            <div class="layui-input-inline">
                <input th:type="text" th:id="value" th:name="value" th:value="${dict.value}"  lay-verify="required" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label th:for="delFlag" class="layui-form-label">
                <span class="x-red">*</span><th:block th:text="是否有效"></th:block>
            </label>
            <div class="layui-input-inline">
                <input type="radio" th:name="delFlag" th:value="1" title="有效" th:checked="${dict.delFlag==1}" >
                <input type="radio" th:name="delFlag" th:value="0" title="无效" th:checked="${dict.delFlag==0}" >
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="edit">保存</button>
        </div>
    </form>
</div>
<script>
    layui.config({
        base: '/definModule/'
    }).use(['form', 'layer','dictSelect'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer
            , dictSelect = layui.dictSelect;

        //自定义验证规则
        form.verify({

        });

        //监听提交
        form.on('submit(edit)', function (data) {
            $("#form").find("button").prop("disabled", true);
            params = data.field;
            $.post("/manage/dict/update", params, function (data) {
                if (data.status == 0) {
                    layer.msg(data.result, {time: 2000, icon: 5});
                    $("#submit").prop("disabled", false);
                } else {
                    layer.msg(data.result, {time: 2000, icon: 6}, function () {
                        // 父页面刷新
                        parent.location.reload();
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                }
            });
            return false;
        });


    });
</script>
</body>
</html>