<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<div th:replace="manage/common/header :: header"></div>
<body>
<div class="x-body">
    <div class="layui-row">
        <div class="layui-form layui-col-md12 x-so">
            <input type="text" id="typeName" name="typeName" placeholder="字典类型" autocomplete="off"
                   class="layui-input">
            <input type="text" id="name" name="name" placeholder="字典名称" autocomplete="off" class="layui-input">
            <input type="hidden" id="deptId" name="deptId" th:value="${deptId}">
            <button class="layui-btn" data-type="reload"><i class="layui-icon">&#xe615;</i></button>
        </div>
    </div>
    <div class="layui-row">
        <table class="layui-hide" id="tableData" lay-filter="tableData"></table>
    </div>
</div>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">

        <button shiro:hasPermission="/manage/dict/delete" class="layui-btn layui-btn-sm layui-btn-danger" onclick="delAll()">
            <i class="layui-icon"></i>
            <th:block th:text="#{admin.common.batchDelete}"></th:block>
        </button>
        <button shiro:hasPermission="/manage/dict/add" class="layui-btn layui-btn-sm" onclick="add()">
            <i class="layui-icon"></i>
            <label th:text="#{admin.common.addDict}"></label>
        </button>
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);">
            <i class="layui-icon">&#xe666;</th:block></i></a>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="view">查看</a>
</script>

<script>

    function add() {
        x_admin_show('添加字典', 'addPage');
    }

    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#tableData'
            , url: 'listData'
            , toolbar: '#toolbarDemo'
            , title: '用户数据表'
            , cols: [
                [

                    {type: 'checkbox'}
                    , {field: 'id', title: 'ID', width:80, type:"numbers"}
                    , {field: 'dictId', title: "字典ID" }
                    , {field: 'typeName', title: "字典类型" }
                    , {field: 'name', title: "字典名称"}
                    , {field: 'value', title: "字典值"}
                    , {field: 'delFlag', title: "是否有效",templet: function (res){
                        if (res.delFlag == 1){
                            return "有效";
                        }else{
                            return "无效";
                        }
                }}
                    , {fixed: 'right', title: "[[#{admin.common.action}]]", toolbar: '#barDemo', width: 200}
                ]
            ]
            ,done: function () {
                $("[data-field='dictId']").css('display','none');
            }
            , page: true

        });
        var $ = layui.$, active = {
            reload: function () {
                var userName = $("#userName").val();
                table.reload('tableData', {
                    where: {
                        deptId: $("#deptId").val(),
                        typeName: $("#typeName").val(),
                        name: $("#name").val()
                    }
                });
            }
        }

        $('.layui-form .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //头工具栏事件
        table.on('toolbar(tableData)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(tableData)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('确定删除吗', function (index) {
                    $.ajax({
                        url: 'delete',
                        type: 'POST',
                        data: {dictId: data.dictId},
                        success: function (data) {
                            if (data.status == 0) {
                                layer.msg(data.result, {icon: 2, time: 1000});
                            } else {
                                obj.del();
                                layer.close(layer.msg(data.result, {icon: 1, time: 1000}));
                            }
                        }
                    });

                });
            } else if (obj.event === 'edit') {
                x_admin_edit('编辑', 'editPage', '', '', data.dictId);
            } else if (obj.event === 'view') {
                x_admin_edit('编辑', 'view', '', '', data.dictId);
            }
        });
    });
</script>

</body>
</html>