<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<div th:replace="manage/common/header :: header"></div>
<link rel="stylesheet" th:href="@{/css/role.css}" />
<style>
    .layui-table-cell{
        height:auto!important;
        white-space: normal;
    }
    .layui-table-view
    .layui-table {width:100%}
</style>
<body>
<div class="x-body">
    <div class="layui-row">
        <div class="layui-form layui-col-md12 x-so">
            <input type="text" id="name" name="name" placeholder="设计师名称" autocomplete="off"
                   class="layui-input">
            <input type="text" id="type" name="type" placeholder="设计师类型" autocomplete="off" class="layui-input">
            <button class="layui-btn" data-type="reload"><i class="layui-icon">&#xe615;</i></button>
        </div>
    </div>
    <div class="layui-row">
        <table class="layui-hide" id="tableData" lay-filter="tableData"></table>
    </div>
</div>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">

        <button shiro:hasPermission="/manage/case/deleteAll" class="layui-btn layui-btn-sm layui-btn-danger" onclick="delAll()">
            <i class="layui-icon"></i>
            <th:block th:text="#{admin.common.batchDelete}"></th:block>
        </button>
        <button shiro:hasPermission="/admin/manage/design/add" class="layui-btn layui-btn-sm" onclick="add()">
            <i class="layui-icon"></i>
            <label th:text="#{admin.common.addDesigner}"></label>
        </button>
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);">
            <i class="layui-icon">&#xe666;</th:block></i></a>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="view">查看</a>
</script>

<script type="text/html" id="imgTpl">
    <img src="{{ d.title }}">
</script>

<script>

    function add() {
        x_admin_show('添加设计师', 'addPage');
    }

    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#tableData'
            , url: 'listData'
            , toolbar: '#toolbarDemo'
            , title: '用户数据表'
            , defaultToolbar:['exports']
            , cols: [
                [

                    {type: 'checkbox'}
                    , {field: 'id', title: 'ID',type:"numbers"}
                    , {field: 'designerId', title: "designerId"}
                    , {field: 'title', title: "头像",templet:'#imgTpl'}
                    , {field: 'name', title: "名称"}
                    , {field: 'type', title: "设计师类型"}
                    , {field: 'years', title: "设计年限"}
                    , {field: 'education', title: "毕业院校"}
                    , {field: 'style', title: "设计风格"}
                    , {field: 'idea', title: "设计理念"}
                    , {field: 'appointment', title: "预约人数"}
                    , {field: 'cases', title: "案例数"}
                    , {field: 'clicks', title: "点击次数"}
                    , {field: 'caseName', title: "代表作品"}
                    , {fixed: 'right', title: "[[#{admin.common.action}]]", toolbar: '#barDemo', width: 200}

                ]
             ]
            ,done: function () {
                hoverOpenImg();//显示大图
                $("[data-field='designerId']").css('display','none');
            }
            , page: true

        });
        function hoverOpenImg(){
            var img_show = null; // tips提示
            $('td img').hover(function(){
                //alert($(this).attr('src'));
                var img = "<img class='img_msg' src='"+$(this).attr('src')+"' style='width:130px;' />";
                img_show = layer.tips(img, this,{
                    tips:[2, 'rgba(41,41,41,.5)']
                    ,area: ['160px']
                });
            },function(){
                layer.close(img_show);
            });
            $('td img').attr('style','max-width:70px');
        };

        var $ = layui.$, active = {
            reload: function () {
                var name = $("#name").val();
                console.log(name)
                table.reload('tableData', {
                    where: {
                        name: $("#name").val(),
                        type: $("#type").val()
                    }
                });
            }
        }

        $('.layui-form .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //头工具栏事件
        table.on('toolbar(tableData)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(tableData)', function (obj) {
            var data = obj.data;
            console.log(data)
            if (obj.event === 'del') {
                layer.confirm('确定删除吗', function (index) {
                    $.ajax({
                        url: 'delete',
                        type: 'POST',
                        data: {designerId: data.designerId},
                        success: function (data) {
                            if (data.status == 0) {
                                layer.msg(data.result, {icon: 2, time: 1000});
                            } else {
                                obj.del();
                                layer.close(layer.msg(data.result, {icon: 1, time: 1000}));
                            }
                        }
                    });

                });
            } else if (obj.event === 'edit') {
                x_admin_edit('编辑', 'editPage', '', '', data.designerId);
            } else if (obj.event === 'view') {
                x_admin_edit('详情', 'view', '', '', data.designerId);
            }
        });
    });
</script>
</body>
</html>