<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="manage/common/header :: header"></div>

<body>
<div class="x-body">
    <form th:id="form" class="layui-form layui-form-pane">
        <input th:type="hidden" th:id="deptId" th:name="deptId" th:value="${deptId}">
        <div class="layui-form-item">
            <label th:for="userName" class="layui-form-label">
                <span class="x-red">*</span>用户名
            </label>
            <div class="layui-input-inline">
                <input th:type="text" th:id="userName" th:name="userName" onkeyup="this.value=this.value.replace(/[\u4e00-\u9fa5]/gm,'')"
                       lay-verify="nikename" autocomplete="off" class="layui-input" maxlength="32">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>将会成为您唯一的登入名
            </div>
        </div>
        <div class="layui-form-item">
            <label th:for="realName" class="layui-form-label">
                <span class="x-red">*</span>真实姓名
            </label>
            <div class="layui-input-inline">
                <input th:type="text" th:id="realName" th:name="realName" lay-verify="required" autocomplete="off"
                       class="layui-input" maxlength="6">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label th:for="phone" class="layui-form-label">
                <span class="x-red">*</span>手机号
            </label>
            <div class="layui-input-inline">
                <input th:type="text" th:id="phone" th:name="phone" lay-verify="phone" autocomplete="off"
                       class="layui-input" maxlength="11">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="email" class="layui-form-label">
                <span class="x-red">*</span>所属角色
            </label>
            <div class="layui-input-inline" style="width: 50%">
                <th:block th:each="role : ${roles}">
                    <input lay-filter="resources" name="roles" th:value="${role.id}" lay-skin="primary"
                           th:title="${role.name}" type="checkbox">
                </th:block>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="email" class="layui-form-label">
                <span class="x-red">*</span>邮箱
            </label>
            <div class="layui-input-inline">
                <input type="text" id="email" name="email" required="" lay-verify="email" autocomplete="off"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="password" class="layui-form-label">
                <span class="x-red">*</span>密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="password" name="password" required="" lay-verify="pass"
                       autocomplete="off" class="layui-input" maxlength="16">
            </div>
            <div class="layui-form-mid layui-word-aux">
                6到16个字符
            </div>
        </div>
        <div class="layui-form-item">
            <label for="repassword" class="layui-form-label">
                <span class="x-red">*</span>确认密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="repassword" name="repassword" required="" lay-verify="repass"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否启用</label>
            <div class="layui-input-block">
                <input type="checkbox" checked="" name="isEnable" lay-skin="switch" lay-filter="switchTest"
                       lay-text="启用|禁用">
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="add">增加</button>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;

        //自定义验证规则
        form.verify({
            nikename: function (value) {
                if (value.length < 5) {
                    return '昵称至少得5个字符啊';
                }
            }
            , pass: [/(.+){6,12}$/, '密码必须6到16位']
            , repass: function (value) {
                if ($('#password').val() != $('#repassword').val()) {
                    return '两次密码不一致';
                }
            }
        });

        //监听提交
        form.on('submit(add)', function (data) {
            $("#form").find("button").prop("disabled", true);
            var standards = "";
            $("input:checkbox[name='roles']:checked").each(function() { // 遍历name=permissions
                standards += ',' + $(this).val();
            });
            data.field.roles = standards;
            if (standards == '') {
                layer.msg("请选择角色", {time: 2000, icon: 10});
                $("#form").find("button").prop("disabled", false);
                return false;
            }
            data.field.roles = standards;

            if (data.field.isEnable == "on") {
                data.field.isEnable = 0;
            } else {
                data.field.isEnable = 1;
            }
            params = data.field;
            $.post("save", params, function (data) {
                if (data.status == 200) {
                  layer.msg(data.result, {time: 2000, icon: 1}, function () {
                        // 父页面刷新
                        parent.location.reload();
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                } else {
                	layer.msg(data.result, {time: 2000, icon: 5});
                    $("#submit").prop("disabled", false);
                }
            });
            return false;
        });


    });
</script>
</body>
</html>