<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<div th:replace="manage/common/header :: header"></div>
<body>
<div class="x-body">
    <div class="layui-row">
        <div class="layui-form layui-col-md12 x-so">
            <input type="text" id="userName" name="userName" placeholder="请输入用户名" autocomplete="off"
                   class="layui-input">
            <input type="text" id="phone" name="phone" placeholder="请输入手机号" autocomplete="off" class="layui-input">
            <input type="hidden" id="deptId" name="deptId" th:value="${deptId}">
            <button class="layui-btn" data-type="reload"><i class="layui-icon">&#xe615;</i></button>
        </div>
    </div>
    <div class="layui-row">
        <table class="layui-hide" id="tableData" lay-filter="tableData"></table>
    </div>
</div>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <a shiro:hasPermission="/admin/manage/manage/addPage" class="layui-btn layui-btn-sm" onclick="add()" href="javascript:void(0)">
            <i class="layui-icon"></i>
            <label th:text="#{admin.common.add}"></label>
        </a>
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);">
            <i class="layui-icon">&#xe666;</i>[[#{admin.common.refresh}]]
		</a>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a shiro:hasPermission="/admin/manage/manage/editPage" class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a shiro:hasPermission="/admin/manage/manage/delete" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="view">查看</a>
</script>

<script>
    var deptId = $("#deptId").val();

    function add() {
        if (deptId == '' || deptId == null || deptId == undefined || deptId == "0") {
            layer.msg("请先选择部门", {icon: 10, time: 1000})
            return false;
        }
        x_admin_show('添加用户', 'addPage?deptId=' + deptId);
    }

    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#tableData'
            , url: '/admin/manage/manage/listData?deptId=' + deptId
            , toolbar: '#toolbarDemo'
            , title: '用户数据表'
            , cols: [
                [
                    {type: 'checkbox'}
                    , {field: 'userName', title: message('admin.admin.userName')}
                    , {field: 'phone', title: message('admin.admin.phone')}
                    , {field: 'email', title: message('admin.admin.email')}
                    , {field: 'realName', title: message('admin.admin.realName')}
                    , {
                    field: 'isEnable', title: message('admin.admin.isEnable'), templet: function (res) {
                        if (res.isEnable == 0) {
                            return '<input type="checkbox" name="switch"  lay-text=' + message("admin.admin.openOrStop") + ' checked disabled lay-skin="switch">';
                        } else {
                            return '<input type="checkbox" name="switch"  lay-text=' + message("admin.admin.openOrStop") + ' disabled lay-skin="switch">';
                        }
                    }
                }
                    , {field: 'deptName', title: message('admin.admin.deptId')}
                    , {fixed: 'right', title: message('admin.common.action'), toolbar: '#barDemo', width: 200}
                ]
            ]
            , page: true

        });
        var $ = layui.$, active = {
            reload: function () {
                var userName = $("#userName").val();
                table.reload('tableData', {
                    where: {
                        deptId: $("#deptId").val(),
                        userName: $("#userName").val(),
                        phone: $("#phone").val()
                    }
                });
            }
        }

        $('.layui-form .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //头工具栏事件
        table.on('toolbar(tableData)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(tableData)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('确定删除吗', function (index) {
                    $.ajax({
                        url: 'delete',
                        type: 'POST',
                        data: {id: data.id},
                        success: function (data) {
                            if (data.status == 200) {
                                layer.msg(data.result, {icon: 1, time: 2000});
                                setTimeout(function(){
                                	parent.location.reload();
                                },2000)
                                
                            } else {
                            	layer.msg(data.result, {icon: 2, time: 2000});
                                setTimeout(function(){
                                	layer.close();
                                },2000);
                            }
                        }
                    });

                });
            } else if (obj.event === 'edit') {
                x_admin_edit('编辑', 'editPage', '', '', data.id);
            } else if (obj.event === 'view') {
                x_admin_edit("详情", 'view', '', '', data.id);
            }
        });
    });
</script>

</body>
</html>