<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<div th:replace="manage/common/header :: header"></div>
<body>
<div class="x-body">
    <form class="layui-form" id="form">

        <div class="layui-form-item">
            <label for="contentsourceurl" class="layui-form-label">
                <span class="x-red">*</span>原始密码
            </label>
            <div class="layui-input-inline">
                <input name="old_password" lay-verify="oldPwd" placeholder="原始密码" id="old_password" type="password"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="contentsourceurl" class="layui-form-label">
                <span class="x-red">*</span>新密码
            </label>
            <div class="layui-input-inline">
                <input name="password" lay-verify="newPwd" placeholder="新密码" id="password" type="password"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="contentsourceurl" class="layui-form-label">
                <span class="x-red">*</span>确认新密码
            </label>
            <div class="layui-input-inline">
                <input name="re_password" lay-verify="confirmPwd" placeholder="确认新密码" id="re_password" type="password"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="update" lay-submit="">
                修改
            </button>
        </div>

    </form>
</div>
<script>

    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;

        //自定义验证规则
        form.verify({
            oldPwd: function (value, item) {
                if (value.length == 0) {
                    return '请输入旧密码';
                }
                var msg = '';
                $.ajax({
                    url: "/manage/manage/getAjaxPassWord",
                    type: "post",
                    async: false,
                    data: {
                        oldPsw: $('#old_password').val()
                    },
                    dataType: "json",
                    success: function (data) {
                        msg = data.status;
                    }
                });
                if (msg != '200') {
                    return "旧密码输入错误，请重新输入！";
                }
            },

            newPwd: function (value, item) {
                if (value.length < 6) {
                    return "密码长度不能小于6位";
                }
            },
            confirmPwd: function (value, item) {
                if (!($("#password").val() == value)) {
                    return "两次输入密码不一致，请重新输入！";
                }
            }
        });

        //监听提交
        form.on('submit(update)', function (data) {
            $("#form").find("button").prop("disabled", true);
            params = data.field;

            $.ajax({
                type: 'post',
                url: "/manage/manage/updatePassword",
                data: params,
                dataType: 'json',
                async: false,
                success: function (result) {
                    if (result.status == 200) {
                        $("button").attr('disabled', "true");
                        $("button").css('background-color', "#c9c9c9");
                        layui.use('layer', function () {
                            layer.msg(result.result, {time: 1500, icon: 1}, function () {
                                parent.location.href = "/manage/logout";
                            });
                        });
                    } else {
                        layui.use('layer', function () {
                            layer.msg(result.result, {time: 1500, icon: 5});
                        });
                    }
                },
                fail: function (result) {
                    console.log(result)
                }
            })
        });
    });
</script>
</body>

</html>
