<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="manage/common/header :: header"></div>
<style type="text/css">
    #myForm{
        background: white;
        padding: 30px;
    }
</style>
<body>

<form id="myForm" method="post" class="layui-form white-bg radius">
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="hidden" th:name="caseId" th:value="${case.caseId}">
            <input th:type="text" th:id="title" th:name="title" th:value="${case.title}" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label th:for="houseName" class="layui-form-label">
            楼盘名称
        </label>
        <div class="layui-input-inline">
            <select class="form-control select2" th:id="areasId" th:name="areasId" >
                <option value=""> --- 请选择 --- </option>
                <option th:selected="${case.areasId == c.areasId }" th:each="c:${heatAreasList}"  th:value="${c.areasId}" th:text="${c.name}" ></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">面积</label>
        <div class="layui-input-block">
            <div class="layui-input-inline">
                <select class="form-control select2" th:id="area" th:name="area" >
                    <option value=""> --- 请选择 --- </option>
                    <option th:each="c:${areaList}"  th:value="${c.value}" th:text="${c.name}" ></option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label th:for="layout" class="layui-form-label">
            户型
        </label>
        <div class="layui-input-inline">
            <select class="form-control select2" th:id="layout" th:name="layout" >
                <option value=""> --- 请选择 --- </option>
                <option th:selected="${case.layout == c.name}" th:each="c:${layoutList}"  th:value="${c.value}" th:text="${c.name}" ></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">装修风格</label>
        <div class="layui-input-inline">
            <select class="form-control select2" th:id="style" th:name="style" >
                <option value=""> --- 请选择 --- </option>
                <option th:selected="${case.style == c.name }" th:each="c:${styleList}"  th:value="${c.value}" th:text="${c.name}" ></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label th:for="type" class="layui-form-label">
            设计师
        </label>
        <div class="layui-input-inline">
            <select class="form-control select2" th:id="designerId" th:name="designerId" >
                <option value=""> --- 请选择 --- </option>
                <option th:selected="${case.designerId == c.designerId}" th:each="c:${designerList}"  th:value="${c.designerId}" th:text="${c.name}" ></option>
            </select>
            <input type="hidden" id="detils" th:value="${case.detail}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block">
            <textarea id="lay_edit" lay-verify="content" name = "detail"  ></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" lay-submit="" class="layui-btn layui-btn-radius layui-btn-normal" style="width: 150px" lay-filter="formSubmit" >保存</button>
        </div>
    </div>
</form>

<script>
    layui.use(['layedit', 'form'], function(){
        var form = layui.form;
        var layedit = layui.layedit;

        layedit.set({	//设置图片接口
            uploadImage: {
                url: '/admin/admin/common/richImg', //接口url
                type: 'post'
            }
        });
        //创建一个编辑器
        var index = layedit.build('lay_edit',{
            height: 350
        });
        //赋值给富文本
        var details = $("#detils").val();
        layedit.setContent(index,details);

        //提交时把值同步到文本域中
        form.verify({
            //content富文本域中的lay-verify值
            content: function(value) {
                return layedit.sync(index);
            }
        });

        form.on("submit(formSubmit)", function (data) {
            params = data.field;
            $.post("/admin/manage/case/update", params, function (data) {
                if (data.status == 200) {
                    parent.layer.msg(data.result, {time: 2000, icon: 1}, function () {
                        // 父页面刷新
                        parent.location.reload();
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                } else {
                    layer.msg(data.result, {time: 2000, icon: 5});
                    $("#submit").prop("disabled", false);
                }
            });
            return false;
        })
    });
</script>
</body>
</html>