<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="manage/common/header :: header"></div>
<style type="text/css">
    #myForm{
        background: white;
        padding: 30px;
    }
</style>
<body>

<form id="myForm" method="post" class="layui-form white-bg radius">
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input th:type="text" th:id="title" th:name="title" th:value="${case.title}" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">小区名称</label>
        <div class="layui-input-block">
            <input th:type="text" th:id="areasName" th:name="areasName" th:value="${case.areasId}" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">面积</label>
        <div class="layui-input-block">
            <div class="layui-input-inline">
                <input th:type="text" th:id="area" th:name="area" th:value="${case.area}" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">户型</label>
        <div class="layui-input-block">
            <input th:type="text" th:id="layout" th:name="layout" th:value="${case.layout}" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">装修风格</label>
        <div class="layui-input-block">
            <input th:type="text" th:id="style" th:name="style"  th:value="${case.style}" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">设计师</label>
        <div class="layui-input-block">
            <input th:type="text" th:id="designer" th:name="designer" th:value="${case.designerName}" lay-verify="required" autocomplete="off" class="layui-input">
            <input type="hidden" id="detils" th:value="${case.detail}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">封面图</label>
        <div class="layui-input-inline">
            <input type="image" class="layui-nav-img" th:name="cover" id="test2" th:src="${case.cover}" th:value="${case.cover}" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block">
            <textarea id="lay_edit" lay-verify="content" name = "detail"  ></textarea>
        </div>
    </div>
</form>

<script>
    layui.use(['layedit', 'form'], function(){
        var form = layui.form;
        var layedit = layui.layedit;

        layedit.set({	//设置图片接口
            uploadImage: {
                url: '/admin/admin/common/richImg', //接口url
                type: 'post'
            }
        });
        //创建一个编辑器
        var index = layedit.build('lay_edit',{
            height: 350
        });
        var details = $("#detils").val();
        layedit.setContent(index,details);
        //提交时把值同步到文本域中
        form.verify({
            //content富文本域中的lay-verify值
            content: function(value) {
                return layedit.sync(index);
            }
        });

        form.on("submit(formSubmit)", function (data) {
            console.log(data.field);
            $.post("save", data.field, function(result){
                layer.msg(result.msg,{offset:'rb'});
            });
            return false;
        })
    });
</script>
</body>
</html>